<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;" />
  </appSettings>
  <connectionStrings>
    <clear />
    <!--<add name="LocalSqlServer" connectionString="Data Source=82.99.219.172,1433\MSSWEBSITEPANEL;Initial Catalog=UrmiaNaming;User ID=NamingUserDb;Password=Naming@2014;" providerName="System.Data.SqlClient" />-->
    <add name="LocalSqlServer" connectionString="Data Source=(local)\SQL2017;Initial Catalog=NamingUrmia;User ID=sa;Password=111qqqAAA;" providerName="System.Data.SqlClient" />
    <add name="NamgozariDBEntities" connectionString="metadata=res://*/App_Code.Models.NamgozariDBModel.csdl|res://*/App_Code.Models.NamgozariDBModel.ssdl|res://*/App_Code.Models.NamgozariDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\SQL2017;Initial Catalog=NamingUrmia;User ID=sa;Password=111qqqAAA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="NamgozariDBEntities" connectionString="metadata=res://*/App_Code.Models.NamgozariDBModel.csdl|res://*/App_Code.Models.NamgozariDBModel.ssdl|res://*/App_Code.Models.NamgozariDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=82.99.219.172,1433\MSSWEBSITEPANEL;initial catalog=UrmiaNaming;User ID=NamingUserDb;Password=Naming@2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <roleManager enabled="true" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Stimulsoft.Base, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.BusinessObjects, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Controls, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Controls.Win, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Database, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Design, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Editor, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Report.Check, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Report.Compare, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Report.Design, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Report, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Report.Helper, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Report.Web, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Report.Win, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <membership defaultProvider="AspNetdbSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetdbSqlMembershipProvider" connectionStringName="LocalSqlServer" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Encrypted" maxInvalidPasswordAttempts="20" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <authentication mode="Forms">
      <forms name=".USERCOOKY" loginUrl="~/Default.aspx" timeout="20" protection="All" />
    </authentication>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ChartImg" path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>